html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  color: #000;
  padding: 0.2em 0; }

a {
  text-decoration: none; }

body {
  font-family: Ubuntu, sans-serif; }

.btn {
  display: block;
  padding: 16px 50px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #fff;
  word-spacing: 3px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-align: center;
  background: #0067df;
  -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
          box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
  outline: none;
  border: 2px solid #0067df;
  border-radius: 8px;
  -webkit-transition: background-color 0.2s, color 0.3s;
  transition: background-color 0.2s, color 0.3s; }
  .btn:hover {
    background-color: #fff;
    color: #0067df; }

.anchor {
  position: relative;
  top: -40px; }

.title {
  position: relative;
  display: block;
  font-weight: 300;
  font-size: 40px;
  text-transform: uppercase;
  color: #000;
  text-align: center; }
  .title::after, .title::before {
    content: "";
    position: absolute;
    display: block;
    top: calc(100% + 5px);
    width: calc(50% - 24px);
    height: 2px;
    background: #00aaef; }
  .title::after {
    right: 2.5px; }
  .title::before {
    left: 2.5px; }
  .title__crown::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 4px);
    margin: auto;
    background-image: url("../images/crown.svg");
    width: 20px;
    height: 13px; }

.subtitle {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

.text {
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e; }
  .text__link {
    font-weight: bold;
    color: #0075ff; }

.form__input {
  display: block;
  padding: 15px 17px;
  margin-bottom: 16px;
  width: 413px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f7f8ff;
  color: #3e3e3e;
  border: 1px solid #fff;
  border-radius: 8px;
  font-size: 14px; }
  .form__input__sms {
    resize: none; }

@media (max-width: 400px) {
  .title {
    font-size: 30px;
    max-width: 250px;
    margin: auto; } }

.header {
  background: url("../images/header.png");
  background-size: 100% 100%;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  padding: 24px 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 500; }
  .header__nav {
    position: absolute;
    bottom: 7.75%;
    left: 120px;
    right: 120px; }
  .header__unique {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 34px;
    text-align: center;
    margin: 0 30px; }
  .header__phone {
    color: #fff; }
  .header__action {
    position: relative; }
  .header__link {
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    padding: 10px 0; }
  .header__link::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background: #fff; }
  .header__title {
    position: absolute;
    bottom: 30%;
    text-transform: none;
    letter-spacing: -1.5px;
    font-size: 56px;
    line-height: 60px;
    width: 328px;
    color: #fff;
    margin: 0 30px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      align-self: center; }

.nav__link {
  color: #fff;
  padding: 9px 10px;
  border-radius: 8px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s; }
  .nav__link:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.nav__toggler {
  display: none; }

.nav__toggler-label {
  padding: 10px;
  font-size: 36px;
  color: #fff; }

.nav__toggler-label::after {
  content: "="; }

@media (max-width: 600px) {
  .header__title {
    font-size: 35px;
    width: auto;
    color: #fff;
    margin: 0 auto;
    bottom: 40%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .header__logo {
    margin: 0 auto; }
  .header__phone, .header__action {
    display: none; } }

@media (max-width: 4200px) {
  .nav-toggler {
    display: none; }
  .nav__toggler-label {
    display: none; } }

@media (max-width: 914px) {
  .nav {
    left: 0;
    bottom: 0; }
    .nav__link {
      padding: 20px 70px;
      display: block; }
    .nav__item {
      text-align: center;
      margin: 0 auto;
      width: 250px; }
    .nav__item:last-child {
      margin-bottom: 50px; }
    .nav__item:first-child {
      margin-top: 20px; }
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      display: none;
      -ms-flex-item-align: center;
          align-self: center;
      background-color: #0067df;
      height: 100vh;
      width: 100vw; }
    .nav__toggler-label, .nav__toggler {
      position: absolute;
      bottom: 0;
      left: 55%; }
    .nav__toggler:checked + .nav__toggler-label::after {
      content: "x"; }
    .nav__toggler-label {
      display: inline-block; }
    .nav__toggler:checked ~ .nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.about {
  max-width: 1020px;
  margin: 0 auto;
  padding: 104px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .about__title {
    width: 328px;
    margin: 0 auto;
    font-size: 40px;
    line-height: 55px;
    font-weight: 300;
    text-transform: uppercase; }
    .about__title_blue {
      color: #0075ff; }
    .about__title_bold {
      font-weight: 500; }
  .about__article {
    width: 50%; }
  .about__text {
    padding-bottom: 35px; }
    .about__text_bold {
      padding-bottom: 0;
      font-weight: bold; }

@media (max-width: 914px) {
  .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 30px 50px; }
    .about__article {
      margin: 0 auto;
      width: 500px; }
    .about__title {
      width: 428px;
      margin-bottom: 38px; }
    .about__title, .about__subtitle {
      text-align: center; }
    .about__text {
      text-align: justify; } }

@media (max-width: 600px) {
  .about__title {
    font-size: 30px;
    margin-top: -15px;
    width: auto; }
  .about__subtitle {
    text-align: center; }
  .about__article {
    width: auto; }
  .subtitle {
    font-size: 20px;
    line-height: 25px; } }

.gallery {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px 80px; }
  .gallery__title {
    top: -0.52em;
    margin: 0 auto 76px;
    width: 160px; }
  .gallery__photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    max-height: 260px; }
    .gallery__photos_right {
      padding-right: 20px; }
  .gallery__img {
    width: 100%; }
  .gallery__text {
    margin: 24px 0 28px; }
  .gallery__btn {
    margin: 0 auto;
    width: 180px; }

@media (max-width: 914px) {
  .gallery {
    padding: 64px 30px; }
    .gallery__title {
      margin-bottom: 30px; }
    .gallery__photos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -o-object-fit: contain;
         object-fit: contain;
      -o-object-position: center;
         object-position: center; }
    .gallery__img-wrap {
      width: 50%;
      height: 131px; }
    .gallery__img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center;
         object-position: center; } }

.consultation {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px 80px; }
  .consultation__title {
    top: -0.54em;
    margin: 0 auto;
    width: 290px;
    margin-bottom: 76px; }
  .consultation__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .consultation__form {
    margin-bottom: 16px; }
  .consultation__subtitle {
    width: 260px;
    padding-bottom: 26px; }
  .consultation__info {
    width: 50%; }
  .consultation__text {
    padding-right: 80px; }
  .consultation__btn {
    margin-top: 32px;
    width: 413px; }

@media (max-width: 914px) {
  .consultation {
    padding: 64px 30px; }
    .consultation__title {
      margin-bottom: 30px; }
    .consultation__wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .consultation__info {
      margin: 0 auto;
      width: 500px; }
    .consultation__form {
      margin: 32px auto 0; }
    .consultation__text {
      padding: 0; }
    .consultation__subtitle {
      margin: 0 auto;
      text-align: center; }
  .consultation__btn,
  .contact__btn,
  .form__input {
    width: 500px; } }

@media (max-width: 600px) {
  .consultation__info {
    width: auto; }
  .consultation__btn {
    width: auto; }
  .contact__btn,
  .form__input {
    width: auto; } }

.team {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px 80px; }
  .team__title {
    top: -0.54em;
    margin: 0 auto 76px;
    width: 275px; }
  .team__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .team__subtitle {
    padding: 20px 0 6px;
    font-size: 23px; }
  .team__person {
    max-width: 240px;
    text-align: center; }
    .team__person:nth-child(1), .team__person:nth-child(2) {
      padding-right: 20px; }
  .team__text {
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    color: #9fadc2; }

@media (max-width: 914px) {
  .team {
    padding: 64px 30px 0; }
    .team__title {
      margin-bottom: 30px; }
    .team__cards {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .team__person {
      margin: 0 auto;
      margin-bottom: 50px; }
      .team__person:nth-child(1), .team__person:nth-child(2) {
        padding-right: 0; }
    .team__subtitle {
      padding: 15px 0 6px; } }

.contact {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 30px 80px; }
  .contact__title {
    top: -0.52em;
    margin: 0 auto;
    width: 235px;
    margin-bottom: 76px; }
  .contact__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 75px; }
  .contact__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 413px; }
  .contact__info_left {
    width: 152px; }
  .contact__info_rigth {
    width: 132px; }
  .contact__text {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2; }
    .contact__text_bottom {
      padding-top: 24px; }
  .contact__form {
    margin-bottom: 16px; }

@media (max-width: 914px) {
  .contact {
    padding: 64px 30px; }
    .contact__title {
      margin-bottom: 0; }
    .contact__wrap {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .contact__info {
      margin: 0 auto; }
    .contact__form {
      margin: 32px auto 0; } }

@media (max-width: 600px) {
  .contact__info {
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__info_rigth {
    width: 200px; } }

.footer {
  padding-top: 10px; }
  .footer__wrap {
    height: 230px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: url("../images/footer.png");
    background-position: 50% 40%;
    background-size: cover; }
  .footer__logo {
    margin: 0 auto;
    width: 115px;
    padding-top: 90px; }

.section:nth-child(even) {
  background-color: #f7f8ff; }

/*# sourceMappingURL=main.css.map */
